<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<div class="title"> 날짜 선택 </div>
<div class="day-choose-container">
<a href="/quiz/selectType" class="day-choose-button">DAY 1</a>
<a class="day-choose-button">DAY 2</a>
<a class="day-choose-button">DAY 3</a>
<a class="day-choose-button">DAY 4</a>
<a class="day-choose-button">DAY 5</a>
<a class="day-choose-button">DAY 6</a>
<a class="day-choose-button">DAY 7</a>
<a class="day-choose-button">DAY 8</a>
<a class="day-choose-button">DAY 9</a>
<a class="day-choose-button">DAY 10</a>
<a href="/quiz/selectType" class="day-choose-button">DAY 11</a>
<a class="day-choose-button">DAY 12</a>
<a class="day-choose-button">DAY 13</a>
<a class="day-choose-button">DAY 14</a>
<a class="day-choose-button">DAY 15</a>
<a class="day-choose-button">DAY 16</a>
<a class="day-choose-button">DAY 17</a>
<a class="day-choose-button">DAY 18</a>
<a class="day-choose-button">DAY 19</a>
<a class="day-choose-button">DAY 20</a>
</div>
<a href="/" class="button">돌아가기</a>
</body>
</html>