<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src = "/selectQuizDay.js"></script>
</head>
<body>
<div class="title"> 날짜 선택 </div>
<div class="day-choose-container">
<a class="day-choose-button" href="#" data-day="day1">DAY 1</a>
<a class="day-choose-button" href="#" data-day="day2">DAY 2</a>
<a class="day-choose-button" href="#" data-day="day3">DAY 3</a>
<a class="day-choose-button" href="#" data-day="day4">DAY 4</a>
<a class="day-choose-button" href="#" data-day="day5">DAY 5</a>
<a class="day-choose-button" href="#" data-day="day6">DAY 6</a>
<a class="day-choose-button" href="#" data-day="day7">DAY 7</a>
<a class="day-choose-button" href="#" data-day="day8">DAY 8</a>
<a class="day-choose-button" href="#" data-day="day9">DAY 9</a>
<a class="day-choose-button" href="#" data-day="day10">DAY 10</a>
<a class="day-choose-button" href="#" data-day="day11">DAY 11</a>
<a class="day-choose-button" href="#" data-day="day12">DAY 12</a>
<a class="day-choose-button" href="#" data-day="day13">DAY 13</a>
<a class="day-choose-button" href="#" data-day="day14">DAY 14</a>
<a class="day-choose-button" href="#" data-day="day15">DAY 15</a>
<a class="day-choose-button" href="#" data-day="day16">DAY 16</a>
<a class="day-choose-button" href="#" data-day="day17">DAY 17</a>
<a class="day-choose-button" href="#" data-day="day18">DAY 18</a>
<a class="day-choose-button" href="#" data-day="day19">DAY 19</a>
<a class="day-choose-button" href="#" data-day="day20">DAY 20</a>
</div>
<a href="/" class="button">돌아가기</a>

<div id="nbr-of-quiz-popup" class="popup" style="display:none;">
    <div class="popup-content">
        <h2>문제 수 선택</h2>
        <span id="nbr-of-quiz-display">총 문제 수: </span>
        <span> 선택한 문제 수보다 총 문제 수가 적을 경우, 모든 문제를 가져옵니다. </span>
        <button class="quiz-count-btn" data-count="10">10문제</button>
        <button class="quiz-count-btn" data-count="20">20문제</button>
        <button class="quiz-count-btn" data-count="all">모든 문제</button>
    </div>

</div>
</body>


</html>