<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="progress"></div>
<input type="hidden" id="quizType" th:value="${quizType}">
<input type="hidden" id="quizDay" th:value="${quizDay}">
<h2 id="question">문제 로딩 중...</h2>
<form id = "quizForm">
    <input type="text" id="answerInput" placeholder="정답 입력" />
    <button id="submitButton" type="submit">제출</button>
    <button id="nextButton" type="button" onclick="goToNext()" style="display: none;">다음 문제</button>
    <p id="result"></p>
</form>

<a href="/" id="home" style = "display:none;">메인으로 돌아가기</a>

<script src="/solveTheQuiz.js"></script>
</body>
</html>