<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="/setting.js"></script>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="setting-header">
    <a href="/" class="button" id="setting-back-button"> 돌아가기 </a>
    <div class="title">영단어 관리</div>
</div>
<form class="container add-quiz" method="post" action="/setting/wordList">

<div class="container">
    <div class="setting-div">
        <label for="dayChoose" class="plain-text">날짜 선택</label>
        <select id="dayChoose" name="dayType">
            <option value="DAY1">DAY 1</option>
            <option value="DAY2">DAY 2</option>
            <option value="DAY3">DAY 3</option>
            <option value="DAY4">DAY 4</option>
            <option value="DAY5">DAY 5</option>
            <option value="DAY6">DAY 6</option>
            <option value="DAY7">DAY 7</option>
            <option value="DAY8">DAY 8</option>
            <option value="DAY9">DAY 9</option>
            <option value="DAY10">DAY 10</option>
        </select>
    </div>
</div>
        <div class="sub-title">
            **단어 목록**
        </div>
        <div class="container" id="list">
            <table>
                <thead>
                    <tr>
                        <th>
                            No
                        </th>
                        <th>
                            영단어
                        </th>
                        <th>
                            의미
                        </th>
                        <th>
                            관리
                        </th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>

        <div class="add-word-container">
            <div class="plain-text">단어 추가하기</div>
        <div class="setting-div">
            <label for="voca" class="plain-text">추가할 영단어:</label>
            <input type="text" id="voca" name="voca" class="input-box">
        </div>
        <div class="setting-div">
            <label for="meaning" class="plain-text">뜻:</label>
            <input type="text" id="meaning" name="meaning" class="input-box" placeholder="예)먹다/팔다/행상하다">
        </div>
            <button type="submit" class="button" id="setting-quiz-add-button">추가하기</button>

        </div>
    </form>
</body>
</html>

